<h1>Welcome <%= current_user.name %></h1>

<h4>It's <%= Time.now.strftime('%F') %></h4>
<h4>We have <%= pluralize(@total_orders, 'order') %>.</h4>

<div class="container">
    <div class="admin-button col-xs-3 col-sm-1 text-center">
      <%= link_to admin_items_path do %>
        <span>Items</span>
      <% end %>
    </div>
    <div class="admin-button col-xs-3 col-sm-1 text-center">
      <%= link_to orders_path do %>
        <span>Orders</span>
      <% end %>
    </div>
    <div class="admin-button col-xs-3 col-sm-1 text-center">
      <%= link_to logout_path, method: :delete, data: { confirm: 'Are you sure?' } do %>
        <span>Admin Logout</span>
      <% end %>
    </div>
</div>
