<div class="page-header">
  <%= link_to orders_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_order_path(@order), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show order</h1>
</div>

<dl class="dl-horizontal">
  <dt>First name:</dt>
  <dd><%= @order.first_name %></dd>

  <dt>Last name:</dt>
  <dd><%= @order.last_name %></dd>

  <dt>Address:</dt>
  <dd><%= @order.address %></dd>

  <dt>City:</dt>
  <dd><%= @order.city %></dd>

  <dt>State:</dt>
  <dd><%= @order.state %></dd>

  <dt>Zip:</dt>
  <dd><%= @order.zip %></dd>

  <dt>Phone number:</dt>
  <dd><%= @order.phone_number %></dd>

  <dt>Email:</dt>
  <dd><%= @order.email %></dd>

  <dt>Pay type:</dt>
  <dd><%= @order.pay_type %></dd>

  <% @order.line_items.each_with_index do |line_item, index| %>
  <dt>Item <%= index + 1 %>:</dt>
    <dd><%= line_item.item.name %> <%= line_item.item.price %></dd>
  <% end %>

  <dt>Sub Total:</dt>
  <dd><%= number_to_currency(@order.order_sub_total) %></dd>

  <dt>Tax:</dt>
  <dd><%= number_to_currency(@order.order_sales_tax) %></dd>

  <dt>Total:</dt>
  <dd><%= number_to_currency(@order.order_sub_total + @order.order_sales_tax) %></dd>
</dl>
