<h2>Your Shopping Cart</h2>

<table class="table">
  <thead>
    <th class="col-xs-4"><h3>Item</h3></th>
    <th class="col-xs-4"></th>
    <th class="col-xs-4 text-right"><h3>Price</h3></th>
  </thead>
  <tbody>
    <% @cart.line_items.each do |line_item| %>
      <tr>
        <td class="col-xs-4 cart-img"><%= image_tag line_item.item.thumbnail_photo.image_url(:medium) %></td>
        <td class="col-xs-4"><h5><%= line_item.item.name %></h5></td>
        <td class="col-xs-4 text-right"><h5><%= number_to_currency(line_item.item.price) %></h5><%= link_to "Remove Item", line_item_path(line_item), method: :delete, class:"pull-right" %></td>
        <% end %>
      </tr>
  </tbody>
  <tfoot class="cart-footer">
    <tr>
      <td>
        <button type="button" class="btn btn-default">
          <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"> <%= link_to "Empty Cart", cart_path(@current_cart), method: :delete, data: {confirm: "Are you sure?"} %></span>
        </button>
      </td>
      <td colspan="2"><h4 class="pull-right">Sub Total: <%= number_to_currency(@cart.sub_total) %></h4></td>
    </tr>
    <tr>
      <td colspan="3"><h4 class="pull-right">Tax: <%= number_to_currency(@cart.sales_tax) %></h4></td>
    </tr>
    <tr>
      <td colspan="3"><h4 class="pull-right">Shipping: FREE*</h4></td>
    </tr>
    <tr>
      <td colspan="3"><h4 class="pull-right">Total: <%= number_to_currency(@cart.sales_tax + @cart.sub_total) %></h4></td>
    </tr>
    <tr>
      <td colspan='3'>
        <button type="button" class="btn btn-default pull-right">
          <%= link_to_if @cart.line_items, "Proceed To Checkout", new_order_path %></span></td>
        </button>
      </td>
    </tr>
  </tfoot>
</table>

<div class="container-fluid row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 cart-footer">
    <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
    <span>All orders placed with Dino's Jewelry will be shipped via UPS Next Day Air using <a href="https://parcelpro.com/" target="_blank">PARCEL PRO SHIPPING INSURANCES SERVICES.</a> We offer this service only to the Continental United States, please call <a href="tel:8134958434">813-495-8434</a> for any other arrangements.</span>
  </div>
</div>
