<div class="page-header">
  <%= link_to carts_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_cart_path(@cart), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show cart</h1>
</div>

<dl class="dl-horizontal">
</dl>

<h2>Dino's Jewelry</h2>
<h3>Cart</h3>
<table>
  <%= render(@cart.line_items) %>

  <tr>
    <td>Total</td>
    <td><%= number_to_currency(@cart.total_price) %></td>
  </tr>
</table>

<%= button_to 'Checkout', new_order_path, method: :get %>
<%= button_to 'Empty cart', @cart, method: :delete, data: { confirm: 'Are you sure?' } %>
