<h1>Dino's Jewelry Order Received</h1>

<h4>Thank you for ordering <%= @order.first_name %> <%= @order.last_name %></h4>
<h4>Your Order Number is: <%= @order.id %></h4>
<h4>You ordered the following items.</h4>

<div>
  <%- @order.line_items.each do |line_item| %>
    <%= image_tag(line_item.thumbnail_photo.image_url(:medium), class:"image-box") %>
    <p><%= line_item.item.name %></p>
    <p><%= number_to_currency(line_item.item.price) %></p>
  <% end %>
</div>

<div>
  <h4>Sub Total: <%= number_to_currency(@order.sub_total) %></h4>
  <h4>Tax: <%= number_to_currency(@order.sales_tax) %></h4>
  <h2>Total: <%= number_to_currency(@order.sub_total + @order.sales_tax) %></h2>
</div>

<div>
  <p>You will receive an email soon when you order is shipped. Thank you <%= @order.first_name.capitalize %> for using Dino's Jewelry.</p>
</div>
