<% if @search.search_items.blank? %>
  <h2>Sorry no Creations met your requirements</h2>
  <%= link_to "Search Again?", new_search_path %>
  <% else %>
  <div class="container search-header">
    <h2 class="col-xs-12">Your Search Yielded <%= @search.search_items.count %> Creations</h2>
    <div class="col-xs-12">
      <%= link_to new_search_path, class:"search-again"  do %>
      <span>Search Again</span>
      <% end %>
    </div>
  </div>
  <div class="row">
    <%- @search.search_items.each do |item| %>
      <div class="col-xs-12 col-sm-6">
        <div class="index-img">
          <%= link_to item, class:"thumbnail" do %>
            <%= image_tag item.thumbnail_photo.image_url(:medium) %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
