<div class="page-header">
  <h1>Show item</h1>
</div>

<dl class="dl-horizontal">
  <dt>Category:</dt>
  <dd><%= @item.category %></dd>

  <dt>Metal:</dt>
  <dd><%= @item.metal %></dd>

  <dt>Center stone:</dt>
  <dd><%= @item.center_stone %></dd>

  <dt>Name:</dt>
  <dd><%= @item.name %></dd>

  <dt>Certification:</dt>
  <dd><%= @item.certification %></dd>

  <dt>Stones:</dt>
  <dd><%= @item.stones %></dd>

  <dt>Size:</dt>
  <dd><%= @item.size %></dd>

  <dt>Appraisal:</dt>
  <dd><%= @item.appraisal %></dd>

  <dt>Price:</dt>
  <dd><%= @item.price %></dd>

  <dt>In Stock:</dt>
  <dd><%= @item.in_stock %></dd>

  <dt>Description:</dt>
  <dd><%= @item.description %></dd>

  <% @item.photos.each do |photo| %>
    <% if photo.image_data %>
      <%= image_tag(photo.image_url(:large), class:"thumbnail") %>
    <% end %>
  <% end %>

  <div class="price_line">
    <span class="price"><%= number_to_currency(@item.price) %></span>
      <%= button_to 'Add to Cart', line_items_path(item_id: @item) %>
  </div>


</dl>
