<div class="page-header">
  <%= link_to items_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_item_path(@item), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show item</h1>
</div>

<dl class="dl-horizontal">
  <dt>Category:</dt>
  <dd><%= @item.category %></dd>

  <dt>Metal:</dt>
  <dd><%= @item.metal %></dd>

  <dt>Center stone:</dt>
  <dd><%= @item.center_stone %></dd>

  <dt>Certification:</dt>
  <dd><%= @item.certification %></dd>

  <dt>Stones:</dt>
  <dd><%= @item.stones %></dd>

  <dt>Size:</dt>
  <dd><%= @item.size %></dd>

  <dt>Appraisal:</dt>
  <dd><%= @item.appraisal %></dd>

  <dt>Price:</dt>
  <dd><%= @item.price %></dd>

  <dt>Description:</dt>
  <dd><%= @item.description %></dd>


  <% @item.photos.each do |photo| %>
    <% if photo.image_data %>
      <%= image_tag(photo.image_url(:small), class:"thumbnail") %>
      <%= link_to item_photo_path(@item, photo), method: :delete, data: { confirm: 'Are you sure?' } do %>
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      <% end %>
    <% end %>
  <% end %>


  <%= form_for [@item, @item.photos.new] do |photo_form| %>
  <div class="form-group">
     <%= photo_form.label :image, class: "col-sm-2 control-label" %>
     <div class="col-sm-10">
       <%= photo_form.hidden_field :image, value: photo_form.object.cached_image_data %>
       <%= photo_form.file_field :image %>
     </div>
     <%= photo_form.submit %>
   </div>
  <% end %>
</dl>
