<div class="page-header item-show">
  <h1><%= @item.name.upcase %></h1>
</div>

<% if @item.thumbnail_photo %>
  <div class="djwinc-border-carousel col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <div id="carousel-generic" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <% @item.photos.each_with_index do |photo, index| %>
            <%- if index == 0 %>
              <div class="item active">
                <%= image_tag(photo.image_url(:medium), class:"thumbnail col-xs-12") %>
              </div>
            <% else %>
              <div class="item">
                <%= image_tag(photo.image_url(:medium), class:"thumbnail col-xs-12") %>
              </div>
            <% end %>
          <% end %>
          </div>

        <a class="left carousel-control" href="#carousel-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left gold-text" aria-hidden="true"></span>
        </a>
        <a class="right carousel-control" href="#carousel-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right gold-text" aria-hidden="true"></span>
        </a>
      </div>
  </div>
<% else %>
  <div class="djwinc-border-carousel col-xs-6 col-xs-offset-3">
    <%= image_tag("stock-diamond.jpg") %>
  </div>
<% end %>

<div class="container-fluid row">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 ">
    <div class="item-row">
      <h3><%= @item.metal %> <%= @item.category.upcase %></h3>
    </div>
    <div class="item-row">
      <h3><%= @item.description %></h3>
    </div>
    <div class="item-row">
      <h3 class="text-right"><%= number_to_currency(@item.price) %></h3>
    </div>
    <div class="item-bottom-row text-center">
      <div class="col-xs-6 col-sm-4">
        <% if @item.appraisal_data? %>
          <%= link_to asset_path(@item.appraisal_url), target: "_blank" do %>
            <span>Appraisal</span>
          <% end %>
        <% end %>
      </div>
      <div class="col-xs-6 col-sm-4">
        <% if @item.certification_data? %>
          <%= link_to asset_path(@item.certification_url), target: "_blank" do %>
            <span>Certificate</span>
          <% end %>
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-4 add-to-cart">
      <%= link_to line_items_path(item_id: @item), method: 'post', class:"cart-button" do %>
        <span>Add To Cart</span>
      <% end %>
    </div>
    </div>
  </div>
</div>

<%- if @item.thumbnail_photo %>
<div class="social-button-row row">
  <div class="col-xs-6 col-xs-offset-3 text-center">
    <%= social_share_button_tag(@item.name, url: "https://brunz36-dinos-jewelry.herokuapp.com/items/#{@item.id}", image: "#{@item.thumbnail_photo.image_url(:medium)}", popup: true) %>
  </div>
</div>
<% end %>
